@font-face{
    font-family:myfont;
    src: url(../fonts/FredokaOne-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
}
body{
   
 background-color: #EEE;
}
.block{
    display: block;
}
#contact{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#contact .titelform{ 
    height: 100px;
    background-color: #46A049;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.titelform .titel{
    text-transform: uppercase;
    line-height: 3;
    letter-spacing: 3px;
    font-size: 25px;
    font-family: myfont ;
    /* font-family:  'Fredoka One' ; */
}
.titelform .subtitel{
    font-size: 12px;
    letter-spacing: 1px;
}
#contact .contactform{
    background-color: #fff;
    border: 2px solid #46A049;
    padding: 20px;
}
.contactform .lbl{
    color: #46A049;
}
.contactform .btn, .textarea, .list, .finput{
    margin-top: 15px;
    margin-bottom: 15px;
}
.contactform .finput{
    border: 2px solid #CCC;
    padding: 10px;
    border-radius: 5px;
}
.contactform .btn{
    border-radius: 5px;
    background-color: #46A049;
    color: rgb(255, 255, 255);
    border: none;
    width: 200px;
    font-weight: bold;
    padding: 10px 20px;
}
.contactform .list{
    width: 200px;
    height: 25px;
}
.contactform .textarea{
    width: 200px;
    height: 150px;
}
.contactform .btn:hover{
    background-color: #ccc;
    color: #46A049;
    cursor: pointer;
}
